polkit.addRule(function(action, subject) {
    if (action.id == "org.vanillaos.abroot.check_updates") {
        polkit.log("action=" + action);
        polkit.log("subject=" + subject);
        return polkit.Result.YES;
    }
});
