name: Go (PR)

on:    
  pull_request_target:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

jobs:

    build:
          runs-on: ubuntu-latest
          container:
            image: ghcr.io/vanilla-os/pico:main
      
          steps:
          - uses: actions/checkout@v4
      
          - name: Set up Go
            uses: actions/setup-go@v4
            with:
              go-version: 1.19
      
          - name: Install build dependencies
            run: |
                apt-get update
                apt-get install -y pkg-config build-essential
      
          - name: Build
            run: go build -o vso
              
          - name: Compress
            run: tar -czvf vso.tar.gz vso
          
          - uses: actions/upload-artifact@v3
            with:
              name: vso
              path: vso.tar.gz
