name: Go

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vanilla-os/pico:main

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Build
      run: |
        go build -o vso -ldflags="-X 'main.Version=${{ github.sha }}'" ./cmd
        tar -czvf vso-amd64.tar.gz vso
        GOARCH=arm64 go build -o vso -ldflags="-X 'main.Version=${{ github.sha }}'" ./cmd
        tar -czvf vso-arm64.tar.gz vso
        tar -czvf vso-man.tar.gz man/man1/vso.1

    - name: Check for missing strings
      run: |
        go build -tags check_missing_strings -o vso-check ./cmd
        ./vso-check

    - uses: actions/upload-artifact@v6
      if: failure()
      with:
        name: missing-strings-report
        path: missing_strings.json

    - uses: softprops/action-gh-release@v2
      if: github.repository == 'vanilla-os/vanilla-system-operator' && github.ref == 'refs/heads/main'
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        tag_name: "continuous"
        prerelease: true
        name: "Continuous Build"
        files: vso*.tar.gz
